div.left {
    /* background-color: #a01919; */
    display: flex;
    flex-direction: column;
    gap: 7px;
}

div.box {
    background: #151515;
    padding: 20px;
    color: rgb(255, 255, 255);
    border-radius: 7px;
}

ul {
    /* background: #ed9494; */
    padding: 5px 0px;
}

li.list {
    height: 30px;
    /* color: white; */
    list-style: none;
    font-size: 19px;
    font-weight: bold;
    margin: 15px 0px 0px 0px;
    /* background: #000; */
    display: flex;
    align-items: center;
    gap: 30px;
    transition: all 0.2s ease;
    cursor: pointer;
}

h1.heading {
    /* background-color: #716868; */
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.label {
    display: flex;
    justify-content: center;
    gap: 7px;
    align-items: center;
    /* background-color: #665353; */
    transition: all 0.2s ease;
    cursor: pointer;
}

img.add-symbol {
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

img.add-symbol:hover {
    background-color: #ffffff15;
}


@media(max-width:660px) {
    div.left {
        display: none;
    }
}